@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Orbitron);

nav {
		padding: 2.5em 2.5em 0.5em 2.5em ;
		background-color: #4D4A4A;
		cursor: default;
		height: 100vh;
		right: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 15em;
		z-index: 10000;	
}

nav ul{
	list-style: none;
	text-align: center;
	line-height: 300%;
	font-size: 12px;
	padding: 0;
}

nav li{
	border-bottom: 1px solid #000000;
}

nav li:hover{
	border-bottom: 1px solid #ffffff;
}

nav a{
	text-decoration: none;
	color: #000000;
}

nav a:hover{
	color: #ffffff;
	text-decoration: none;
	
}

#menu img{
	height: 80px;
	width: 100px;
	margin-right: 50px;
	padding: 0px;
}

body{
	background-color: #000000;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-transform: uppercase;
		font-family: 'Orbitron', sans-serif;
}

.background {
	background-attachment: scroll;
	background-color: #1F1E1E;
	background-image: url("https://s3-eu-west-1.amazonaws.com/media.unbound.co/p/images/2580/original/dfdfd.png?1458846080");
	background-position: center;
	background-repeat: repeat;							
	background-size: cover;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: 750px;
	padding-bottom: 12em;
	padding-top: 100px;
  	left: 0;
  	position: absolute;
	text-align: center;
}

.inner{
	height: 80px;
	width: 300px;
	border-bottom: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
	transform: translateX(20em);
	-moz-transition: -moz-transform 0.7s ease;
		-webkit-transition: -webkit-transform 0.7s ease;
		-ms-transition: -ms-transform 0.7s ease;
		transition: transform 0.7s ease;
	margin-top: 400px;
	margin-right: 940px;
	margin-left: 940px;
	
}

h1{
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
	text-align: center;
	letter-spacing: 5px;
	margin-top: -60px;
	height: auto;
	width: 100%;
}

.background p{
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-size: 12px;
	text-align: center;
	margin-top: 100px;
	transform: translateY(5em);
		-moz-transition: -moz-transform 0.7s ease;
		-webkit-transition: -webkit-transform 0.7s ease;
		-ms-transition: -ms-transform 0.7s ease;
		transition: transform 0.7s ease;
		-webkit-overflow-scrolling: touch;
}

.info{
	background-color:#000000;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 10px;
	padding-bottom: 15px;
	padding-top: 1130px;
}

h2{
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-size: 30px;
	text-align: center;
	padding-bottom: 30px;
}

.info p{
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	text-align: center;
	line-height: 180%;
	text-transform: capitalize;
	padding-left: 50px;
	padding-right: 50px;
}

.container{
	background-color: grey;
	width: 100%;
}

h3{
	text-align: center; 
}

#box1, #box2, #box3{
	border: 2px solid #ffffff;
	border-radius: 4px;
	margin-bottom: 30px;
	width: 400px;
	margin-left: 80px;
	margin-right: 70px; 
	margin-top: 30px;
}

#box1:hover, #box2:hover, #box3:hover{
	border: 2px solid #4D4A4A;
}

#box1 p, #box2 p, #box 3 p{
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-size: 15px;
	text-align: center;
	text-transform: capitalize;
}

.container img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#footer{
	padding: 0.5em 0 0.09em 0 ;
	background-color: #858585;
	opacity: 0.5;
	text-align: center;
	}
#footer li{
	list-style: none;
}

#footer .social{
	float: center;
	padding-top: 10px;
}
#footer .social li{
	margin-left: 1em;
	padding-left: 1em;
	display: inline-block;
	width: 50px;	
}

#footer .social img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

#footer .social img:hover{
	height: 41px;
	width: 43px;
}

#footer .copyright {
	color: #fffff;
	font-size: 12px;
	letter-spacing: 0.225em;
	list-style: none;
	text-transform: uppercase;
}

#footer .copyright li {
	border-left: #ffffff;
	display: inline-block;
	line-height: 1em;
	margin-left: 1em;
	padding-left: 1em;
}

#footer .copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#footer .copyright li a {
	color: #000000;
}

#footer .copyright li a:hover {
	text-decoration: none;
	color: #ffffff;
}

