@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Orbitron);

body{
	background-color: #000000;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-transform: uppercase;
		font-family: 'Orbitron', sans-serif;
}

.background {
	background-color: #000000;
}

.inner{
	height: 70px;
	width: 600px;
	border-bottom: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
	transform: translateX(7em);
	-moz-transition: -moz-transform 0.7s ease;
		-webkit-transition: -webkit-transform 0.7s ease;
		-ms-transition: -ms-transform 0.7s ease;
		transition: transform 0.7s ease;
	margin-top: 80px;
	margin-right: 905px;
	margin-left: 905px;
	
}

h1{
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
	text-align: center;
	letter-spacing: 5px;
	margin-top: -50px;
	height: auto;
	width: 100%;
}

h1 a{
	color: white;
}

img{
	margin-left: 1170px;
	margin-right: 1170px;
	margin-top: 200px;
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 8000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 8000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 8000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
	


